/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
--font_main: 'Inter', Arial, Helvetica, sans-serif;;
--font_accent: 'PressStart2P', Courier New, Courier, monospace;
--normal_font_weight: 400;
--header_font_weight: 700;
--connent-width: min(100vw, 700px);
--contour-color: black;
--animation-fill-color: red;
}